<p-toast></p-toast>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<div class='demo-app'>

    <div class='demo-app-sidebar'>
      <div class='demo-app-sidebar-section'>
        <h2>All Events ({{currentEvents.length}})</h2>
        <ul>
          <li *ngFor='let event of currentEvents'>
            <b>{{event.title}}</b>
            <p>{{event.startStr}}</p>
            <i>{{event.extendedProps['modelsScheduled']}}</i>
          </li>
        </ul>
      </div>
  
      <div class='demo-app-sidebar-section'>
        <label>
          <input
            type='checkbox'
            [checked]='calendarOptions.weekends'
            (change)='handleWeekendsToggle()'
          />
          toggle weekends
        </label>
      </div>

    </div>
    
  
    <div class='demo-app-main'>
      <full-calendar *ngIf='calendarVisible' [options]='calendarOptions'>
        <ng-template #eventContent let-arg>
          <b>{{ arg.timeText }}</b>
          <b>{{ arg.event.title }}</b>
        </ng-template>
      </full-calendar>
    </div>

    <form *ngIf="addEvent" [formGroup]="form" class="event__form">
      <br>
      <strong [textContent]="editMode? 'Edit Event' : 'Add Event'"></strong>

      <div class="mt-4 mb-4 field grid">
        <label for="firstname3" class="col-fixed">Title:</label>
        <div class="col">
          <input formControlName="title" id="title" type="text"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary" />
            <small *ngIf="eventForm['title'].invalid && isSubmited" class="p-error">Title is required</small>
        </div>
      </div>

      
      <mat-form-field>
        <mat-label>Models Scheduled</mat-label>
        <mat-select [formControl]="models" multiple>
          <mat-option *ngFor="let model of talentList" [value]="model.name">
            {{model.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      

    <div>
      <p-button styleClass="p-button-success" (click)="onSubmit()" >Submit</p-button>
      <p-button class="ml-3" (click) = "addEventMode()" >Cancel</p-button>
      <p-button *ngIf="editMode" (click)="deleteEvent(curentEventId)" styleClass="p-button-danger" class="ml-3" icon="pi pi-trash"></p-button>
    </div>

    </form>

  </div>

  