<div class="card">
  <p-toolbar>
    <div class="p-toolbar-group-left">
      <p-button label="New" icon="pi pi-plus" routerLink="/talents/form"></p-button>
    </div>
  </p-toolbar>

  <div class="flex flex-row flex-wrap card-container blue-container">

    <div *ngFor="let talent of talents"
    class=" m-1 mr-2 mt-3" >

      <p-image (click)="updateTalent(talent.id)" [src]="talent.image" alt="Image" width="250px" height="350px">
      </p-image>

    </div>

  </div>

</div>


<!-- <div *ngFor="let talent of talents"
    class="flex align-items-center justify-content-center font-bold text-white border-round m-1 mr-2 mt-3 talent__image" >

      <p-image (click)="updateTalent(talent.id)" [src]="talent.image" alt="Image" width="250px" height="350px">
      </p-image>

    </div> -->

    <!-- class="flex flex-row flex-wrap card-container blue-container" -->