<p-toast></p-toast>

<p-card class="card" [header]="editmode ? 'Edit Talent' : 'Add Talent'" subheader="You can add talents here">

  <p-toolbar>

    <div class="p-toolbar-group-right">
      <p-button class=" mr-3" styleClass="p-button-success" [label]="editmode ? 'Update':'Create'" icon="pi pi-plus"
        (click)="onSubmit()"></p-button>
      <p-button styleClass="p-button-primary" label="Cancel" icon="pi pi-plus" routerLink="/talents"></p-button>
      <p-button *ngIf="editmode" (click)="_deleteTalent(currentTalentid)" styleClass="p-button-danger" class="ml-3" icon="pi pi-trash"></p-button>
    </div>

  </p-toolbar>

  <form [formGroup]="form">

    <section class="talentForm">

      <div class="field grid" style="margin-right: 16px; margin-top: 30px;">
        <label for="name" class="col-fixed" style="width:60px;">Name:</label>
        <div class="col">
          <input formControlName="name" id="name" type="text"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary"  style="width: 196px;" />
          <small *ngIf="talentForm['name'].invalid && isSubmited" class="p-error">Name is required</small>
        </div>
      </div>

      <div class="field grid" style="margin-right: 16px; margin-top: 30px;">
        <label for="height" class="col-fixed" style="width:60px">Height:</label>
        <div class="col">
          <input formControlName="height" id="height" type="text"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary"  style="width: 196px;" />
          <small *ngIf="talentForm['height'].invalid && isSubmited" class="p-error">Height is required</small>
        </div>
      </div>

      <div class="field grid" style="margin-right: 16px; margin-top: 30px;">
        <label for="bust" class="col-fixed" style="width:60px">Bust:</label>
        <div class="col">
          <input formControlName="bust" id="bust" type="text"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary"  style="width: 196px;" />
        </div>
      </div>

      <div class="field grid" style="margin-right: 16px; margin-top: 30px;">
        <label for="waist" class="col-fixed" style="width:60px">Waist:</label>
        <div class="col">
          <input formControlName="waist" id="waist" type="text"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary"  style="width: 196px;" />
            <small *ngIf="talentForm['waist'].invalid && isSubmited" class="p-error">Waist is required</small>
        </div>
      </div>

      <div class="field grid" style="margin-right: 16px; margin-top: 30px;">
        <label for="hips" class="col-fixed" style="width:60px">Hips:</label>
        <div class="col">
          <input formControlName="hips" id="hips" type="text"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary"  style="width: 196px;" />
        </div>
      </div>

      <div class="field grid" style="margin-right: 16px; margin-top: 30px;">
        <label for="dress" class="col-fixed" style="width:60px">Dress:</label>
        <div class="col">
          <input formControlName="dress" id="dress" type="text"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary"  style="width: 196px;" />
        </div>
      </div>

      <div class="field grid" style="margin-right: 16px; margin-top: 30px;">
        <label for="shoe" class="col-fixed" style="width:60px">Shoe:</label>
        <div class="col">
          <input formControlName="shoe" id="shoe" type="text"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary"  style="width: 196px;" />
            <small *ngIf="talentForm['shoe'].invalid && isSubmited" class="p-error">shoe is required</small>
        </div>
      </div>

      <div class="field grid" style="margin-right: 16px; margin-top: 30px;">
        <label for="hair" class="col-fixed" style="width:60px">Hair:</label>
        <div class="col">
          <input formControlName="hair" id="hair" type="text"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary"  style="width: 196px;" />
            <small *ngIf="talentForm['hair'].invalid && isSubmited" class="p-error">Hair is required</small>
        </div>
      </div>

      <div class="field grid" style="margin-right: 16px; margin-top: 30px;">
        <label for="chest" class="col-fixed" style="width:60px">Chest:</label>
        <div class="col">
          <input formControlName="chest" id="chest" type="text"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary"  style="width: 196px;" />
            <small *ngIf="talentForm['chest'].invalid && isSubmited" class="p-error">Chest is required</small>
        </div>
      </div>

      <div class="field grid" style="margin-right: 16px; margin-top: 30px;">
        <label for="eyes" class="col-fixed" style="width:60px">Eyes:</label>
        <div class="col">
          <input formControlName="eyes" id="eyes" type="text"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary"  style="width: 196px;" />
            <small *ngIf="talentForm['eyes'].invalid && isSubmited" class="p-error">Eyes is required</small>
        </div>
      </div>

      <mat-form-field class="dropdownOptions">
        <mat-label>Gender</mat-label>
        <mat-select formControlName="gender">
          <mat-option *ngFor="let gender of genders" [value]="gender">
            {{gender}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="dropdownOptions">
        <mat-label>Organisation</mat-label>
        <mat-select formControlName="organisation">
          <mat-option *ngFor="let organisation of organisations" [value]="organisation">
            {{organisation}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="dropdownOptions">
        <mat-label>Location</mat-label>
        <mat-select formControlName="location">
          <mat-option *ngFor="let location of locations" [value]="location">
            {{location}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </section>

    <section class="coverImage">
      <br>
      <label for="image">Cover Image</label>
      <br>
      <input type="file" class="p-inputtext" accept="image/*" (change)="onImageUpload($event)" />
      <br>
      <small *ngIf="talentForm['image'].invalid && isSubmited" class="p-error">Image is required</small>
      <div class="p-col-2 p-mt-2 p-pl-0">
        <img *ngIf="imageDisplay" [src]="imageDisplay" alt="image" />
      </div>
      <br>
    </section>

  </form>

</p-card>

<p-confirmDialog
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
  rejectButtonStyleClass="p-button-text"
></p-confirmDialog>

